body{

    cursor: pointer;  
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    list-style: none;
    
}
.list{
    list-style: none;
}
.info{
    background-color: #FFFFFF;    
}
.text{
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px; 
        letter-spacing: 0.03em;    
        color: #2196F3;
}
.logo{
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: #000;
        
}
.navigation-text{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}
.navigation-text:hover{  
  color: #2196F3;
}
.navigation-text:focus{
color: #2196F3;
}


.btn-text{
font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;

    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
    background: #F5F4FA;
}
.btn-text:hover{
background-color: #2196F3;
color: #FFFFFF;
}
 

.filters{
    font-family: 'Roboto';
}
.filter-1{
   
}
.filter-1:hover,
.filter-1:focus
{

}
.filter-2{
   
}
.filter-2:hover,
.filter-2:focus
{

}
.filter-3{
   
}
.filter-3:hover{


}
.filter-4{
    

}
.filter-4:hover{

}
.filter-5{
  

}
.filter-5:hover{

}
.about-title1{
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;    
    letter-spacing: 0.03em;    
    color: #2196F3;
    
}
.about-title2{
    font-style: normal;
   font-weight: 700;
        font-size: 26px;
        line-height: 31px;      
        letter-spacing: 0.03em;    
        color: #000000;
}
.signboard{
    background-color: #2F303A;
}
.signboard-title{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
}
.about-criteria{
    background-color: #F5F5F5 ;
}
.priority{
    color: #212121;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;   
}
.about-priority{
    color: #757575;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.subtitle{
    color: #212121;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}
.container{
background-color: #2F303A;
}
.container-text{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;      
        letter-spacing: 0.03em;    
        color: #FFFFFF;
}
.container-text:hover,
.container-text:focus{
color: #2196F3;
}
.logo1{
font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;  
    letter-spacing: 0.03em;
 color: #FFFFFF;   
}