:root{
    --main-color: #757575;
    --main-background: #F5F5F5;
    --accent-color:#2196F3;
}


body{

    cursor: pointer;  
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    list-style: none;
    color: var(--main-color)
}

.list{
    list-style: none;
}
.info{
    
    background-color:var(--main-background)    
 
}
.text{
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px; 
        letter-spacing: 0.03em;    
        color: var(--accent-color)
}
.logo-text1,.logo-text2{
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
      
        text-decoration: none;
}
.logo-text1{
    color:#000000;
}
.logo-text2{
    color: #FFFFFF;
}
.list-buttons,.list-images,.list-priority,.list-pictures,.list-foto
{
    text-decoration: none;
    list-style-type: none;
}
.navigation-text1,
.navigation-text2,
.navigation-text
{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    
}
.navigation-text-contact{
    color: var(--main-color) 
}
.navigation-text-contact:hover,
.navigation-text-contact:focus{
    color: var(--accent-color)
}
.navigation-text1,
.navigation-text2,
.navigation-text:hover
{
        color: var(--accent-color)

    }
.navigation-text1,
.navigation-text2,
.navigation-text:focus
{
 color: var(--accent-color)

}
.navigation-text1:link:current{
color: var(--accent-color)
}
.navigation-text2:link:current{
color: var(--accent-color)
}
.btn{
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;
    background-color: var(--accent-color);

    font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;    
        color: #FFFFFF;
}
.btn:hover,
.btn:focus {
    background-color: #188CE8;
    color: #FFFFFF;
}
.btn-text{
font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;

    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
    background: #F5F4FA;
}
.btn-text:hover,
.btn-text:focus
{
background-color: var(--accent-color);
color: #FFFFFF;
}
 

.filters{
    font-family: 'Roboto';
}

.about-title1{
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;    
    letter-spacing: 0.03em;    
    color: #2196F3;
    
}
.about-title2{
    font-style: normal;
   font-weight: 700;
        font-size: 26px;
        line-height: 31px;      
        letter-spacing: 0.03em;    
        color: #000000;
}
.signboard{
    background-color: #2F303A;
}
.signboard-title{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
}

.priority{
    color: #212121;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;   
}
.about-priority{
    color: var(--main-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.subtitle{
    color: #212121;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #F5F4FA;
}
.container{
background-color: #2F303A;
}
.container-text{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;      
        letter-spacing: 0.03em;    
        color: #FFFFFF;
}
.container-text:hover,
.container-text:focus{
color: var(--accent-color)
}
.logo1{
font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;  
    letter-spacing: 0.03em;
 color: #FFFFFF;   
}